$bg-color: #E5E5E5;

body{
    margin: 0;
    padding: 0;

}
// @import 'nav';
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    article {
        border-radius: 10px;
    }
    .text-line-through {
        text-decoration: line-through;
        text-decoration-color: red;
    }
}

.icon-chack, .icon-delete {
    width: 28px;
    transition: 0.3s;
    
}
.icon-chack{
    &:hover {
        width: 30px;
    }
}
.icon-delete {
    &:hover {
        width: 30px;
    }
}


