$bg-color: #E5E5E5;

body{
    margin: 0;
    padding: 0;

}
// @import 'nav';
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    article {
        border-radius: 10px;
    }
    .text-line-through {
        text-decoration: line-through;
        text-decoration-color: red;
    }
}
